.modal-background {
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
    z-index: 1;
}

.modal {
    z-index: 3;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
