.entire-page {
    height: 100%;
    width: 100%;
}

.text {
    color: white
}

.review-form {
    width: 500px;
    height: 400px;
    background-color: rgb(8, 8, 8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik';
    margin-top: 50%;
    gap: 20px;
    border-radius: 10px;
}

.review-desc-text {
    border-radius: 10px;
    font-family: 'Rubik';
    font-size: 14px;
    padding: 10px;
}


.review-submit {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    width: 50%;

}

.review-submit:hover {
    cursor: pointer;
    color: white;
    background-color: black;
    border: 1px solid white;
}

.review-submit:disabled {
    background-color: gray;
    color: lightgray;
}

.review-submit:disabled:hover {
    cursor: default;
    border: none;
}

.star-form {
    width: 60%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.star-text {
    margin-bottom: -25px;
    margin-top: -10px;
    color: yellow;
}
