li {
    list-style-type: none;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    top: 0px;
    height: 80px;
    width: 97%;
    border-radius: 5px;
}

.logo {
    height: 100%;
    width: 100%;
}
