li {
    list-style-type: none;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    top: 0px;
    height: 80px;
    width: 97%;
    border-radius: 5px;
}

.logo {
    height: 100%;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.new-spot-btn {
    margin-right: 10%;
    width: 100%;
    height: 50px;
    margin-top: 5px;
    border-radius: 3px;
    background-color: white;
    border: none;
    color: black
}

.new-spot-btn:hover {
    background: rgb(95, 53, 95);
    color: white;
    cursor: pointer;
}
